.sidenav {
  height: 55%;
  width: 0;
  position: fixed;
  z-index: 1;
  transform: translateY(20%);
  background-color: rgb(39, 39, 39);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#point
{
  font-size:23px;
  cursor:pointer;
  position: fixed;
  transform: translateY(100px);

}

#main
{
  width: 80%;
  margin: 50px auto 10px auto;
}

@media (max-width: 1300px) {
  .sidenav 
  {
    padding-top: 15px;
    transform: translateY(5%);
  }
  .sidenav a 
  {
    font-size: 18px;
  }
  #point
  {
    transform: translateY(7%);
    writing-mode: vertical-lr;
    font-size:29px;
  }
  
  #main
  {
    width: 88%;
    margin: 15px 0 15px 11%;
  }
}