#main
{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: auto;
}

.comm
{
    width: 32%;
    display: inline-block;
    position: relative;
    height: auto;
    margin-left: 10px;
    transition-duration: 0.5s;
    z-index: 1;
}

.closebtn 
{
    position: relative;
    top: 5px;
    left: 90%;
    font-size: 36px;
    cursor: pointer;
}

.hid
{
    width: 100%;
    display: none;
    position: absolute;
}

@media (max-width: 1200px)
{

    #comm1, #comm2
    {
        margin-left: 13%;
        margin-bottom:15px;
    }

    #comm3
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 800px)
{

    #main
    {
        width: 95%;
    }

    #comm1, #comm2, #comm3
    {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
