#main
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#main h2
{
    text-align: center;
    
    border-bottom: 1.5px solid gray;
}

#mainTable
{
    width: 100%;
    color: rgb(230, 230, 230);
    text-align: justify;
}

#mainTable td
{
    padding: 15px;
    
}

.object
{
    background-color: rgba(15, 15, 15, 0.4);
    border: 1px solid rgb(40, 40, 40);
}

.discript
{
    background-color: rgba(15, 15, 15, 0.3);
    border: 1px solid rgb(40, 40, 40);
}

.sidenav {
    height: 55%;
    width: 0;
    position: fixed;
    z-index: 1;
    transform: translateY(20%);
    background-color: rgb(39, 39, 39);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #point
  {
    font-size:23px;
    cursor:pointer;
    position: fixed;
    transform: translateY(100px);
  
  }

@media (max-width: 1300px)
{
    #main
    {
        width: 87%;
        margin-top: 0;
        margin-left: 12%;
        margin-right: 0;
    }

    .sidenav 
    {
        padding-top: 15px;
        transform: translateY(5%);
    }
    .sidenav a 
    {
        font-size: 18px;
    }
    #point
    {
        transform: translateY(7%);
        writing-mode: vertical-lr;
        font-size:29px;
    }

    .object
    {
        display: block;
        text-align: center;
        font-size: 18px;
    }

    .discript
    {
        display: block;
    }

}

@media(min-width: 1900px)
{
    .sidenav
    {
        margin-top: -35px;
    }
        
}